html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #f7efdd;
	color: #000;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

header {
	height: 650px;
}

header .search {
	position: relative;
	top: 50%;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #666;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #999;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.search input {
	margin-right:-9px;
	border-radius: 0;
}

.search button {
	border-radius: 0;
	background-color: #777366;
	color: #FFF;
}

.search button:hover, .search button:active, .search button:focus {
	background-color: #444;
	color: #FFF;
}

.search button:focus {
		border:0;
}
